a:nth-child(2){
    border-bottom: 3px solid white;
}

h2{
    filter: blur(5px);
    transition-property: filter;
    transition-duration: 1200ms;
    justify-content: center;
    align-content: center;
}

li{
    display: flex;
    background: linear-gradient(to right, purple, red);
    transition-property: background, color;
    transition-duration: 500ms;
    color: blanchedalmond;
    margin-right: 5%;
    margin-top: 0.2%;
    padding: 1%;
}

h2:hover{
    filter: none;
}

li:hover{
    background: lightgrey;
    color: black;
}

@media screen and (max-width: 720px) {
    a:nth-child(2){
        background-color: rgba(200, 100, 0, 0.8);
        border-bottom : none;
    }
    
    a:nth-child(2):hover {
        background-color: rgba(255, 255, 255, 0.6);
        color: rgb(100, 50, 0);
        border-bottom : none;
    }
}