a:nth-child(6){
    border-bottom: 3px solid white;
}

section{
    margin: 5%;
    margin-top: 100px;
}

section .division{
    display: flex;
}

.elem{
    margin: 10%;
    margin-left: 4%;
    margin-right: 4%;
    border-style: outset;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
    padding-bottom: 10%;
    font-size: 500%;
    color: black;
    -webkit-filter: grayscale(100%);
    transition-property: -webkit-filter, background, color;
    transition-duration: 1200ms;
}

.elem:hover{
    -webkit-filter: grayscale(0%);
    background: linear-gradient(to right,orange, purple);
    color: whitesmoke;
}

@media screen and (max-width: 1200px) {
    a:nth-child(6){
        background-color: rgba(200, 100, 0, 0.8);
        border-bottom : none;
    }
    
    a:nth-child(6):hover {
        background-color: rgba(255, 255, 255, 0.6);
        color: rgb(100, 50, 0);
        border-bottom : none;
    }

    .elem{
        margin-left: 5%;
        margin-right: 5%;
    }

    section .division{
        flex-direction: column;
    }
}

@media screen and (max-width: 720px) {
    .elem{
        padding-bottom: 15%;
    }
}